* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 1.5rem;
    background-color: #1a1a1a;
    color: rgb(230, 228, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    height: 200vh;
}

dialog {
    margin: 15vh auto;
    padding: 1rem;
    font: inherit;
    color: inherit;
    border: none;
    box-shadow: 30px 30px 115px 15px rgb(0,0,0);
}

.library-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1.5rem;
}

.card,
.new-book-btn,
dialog {
    background-color: #242424;
    border-radius: 10px;
}

.new-book-btn {
    font: inherit;
    color: inherit;
    border: none;
    padding: 1rem 1.5rem;
    flex: 0 auto;
}

.card {
    padding: 1rem;
}